################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileManager/bin/Debug
/.vs/FileManager/v14
/.vs/FileManager/v15/Server/sqlite3
/.vs/FileManager/v15/.suo
/FileManager/obj/Debug
/FileManager/App.config
/FileManager/Properties/AssemblyInfo.cs
/FileManager.BusinessLayer/bin/Debug
/FileManager.BusinessLayer/obj/Debug
/FileManager.BusinessLayer/Properties
/FileManager.BusinessLayer/App.config
/FileManager.BusinessLayer/packages.config
/FileManager.UI/bin/Debug
/FileManager.UI/obj/Debug
/FileManager.UI/Properties
/FileManager.UI/App.config
/FileManager.UI/packages.config
/packages
/FileManager.UI.Tests/bin/Debug
/FileManager.UI.Tests/obj/Debug
/FileManager.UI.Tests/Properties
/FileManager.UI.Tests/App.config
/FileManager.UI.Tests/packages.config
/FileManager.Pipeline/obj/Debug
/.vs/FileManager/DesignTimeBuild/.dtbcache
/FileManager.ConsoleApp/obj/Debug/netcoreapp2.0
/FileManager.ConsoleApp/bin/Debug/netcoreapp2.0
/FileManager.ConsoleApp/obj
/FileManager.Services/bin/Debug/netcoreapp2.0
/FileManager.Services/obj/Debug/netcoreapp2.0
/FileManager.Services/obj
/FileManager.Web/bin/Debug/netcoreapp2.0
/FileManager.Web/obj/Debug/netcoreapp2.0
/FileManager.Web/obj
/FileManager.Web.Tests/bin/Debug/netcoreapp2.0
/FileManager.Web.Tests/obj/Debug/netcoreapp2.0
/FileManager.Web.Tests/obj
/FileManager.Web/appsettings.config
/FileManager.Models/bin/Debug/netcoreapp2.0
/FileManager.Models/obj
/FileManager.BusinessLayer/obj
/FileManager.Tests/bin/Debug/netcoreapp2.0
/FileManager.Tests/obj
/FileManager.ConsoleApp/bin/Debug/netcoreapp2.1
/FileManager.Models/bin/Debug/netcoreapp2.1
/FileManager.Services/bin/Debug/netcoreapp2.1
/FileManager.Tests/bin/Debug/netcoreapp2.1
/FileManager.Web/bin/Debug/netcoreapp2.1
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/FileManager.DataAccessLayer/obj
/.vs/VSWorkspaceState.json
/FileManager.DataAccessLayer/bin/Debug/netcoreapp2.1
/FileManager.IntegrationTests/bin/Debug/netcoreapp2.1
/FileManager.IntegrationTests/obj
/FileManager.ConsoleApp/bin/Debug/netcoreapp2.2
/FileManager.DataAccessLayer/bin/Debug/netcoreapp2.2
/FileManager.IntegrationTests/bin/Debug/netcoreapp2.2
/FileManager.Models/bin/Debug/netcoreapp2.2
/FileManager.Services/bin/Debug/netcoreapp2.2
/FileManager.Tests/bin/Debug/netcoreapp2.2
/FileManager.Web/bin/Debug/netcoreapp2.2
/.vs/FileManager/v16/Server/sqlite3
/.vs/FileManager/v16/.suo
/.vs/FileManager/config/applicationhost.config
/obj/FileManager.EntityFrameworkCore.targets
/FileManager.Web/healthchecksdb
/FileManager.Interfaces/bin/Debug/netcoreapp2.2
/FileManager.Interfaces/obj
/.vs/FileManager/v16/TestStore/0/testlog.manifest
/.vs/FileManager/v16/TestStore/0/000.testlog
/.vs/FileManager/v16/TestStore/0/015.testlog
*.testlog
